<form class="uk-form-stacked">

    <div class="uk-alert-danger uk-animation-slide-bottom-medium" uk-alert *ngIf="loginErrorMsg">
        <a class="uk-alert-close" uk-close></a>
        <p>Login failed! Error message: {{loginErrorMsg}}</p>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">FHIR Base URL</label>
        <div class="uk-form-controls">
            <input class="uk-input uk-form-width-large" type="text" placeholder="FHIR Base URL" [(ngModel)]="fhirUrl" name="fhirUrl">
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">OAuth Server URL</label>
        <div class="uk-form-controls">
            <input class="uk-input uk-form-width-large" type="text" placeholder="OAuth Server URL" [(ngModel)]="authUrl" name="authUrl">
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Client ID</label>
        <div class="uk-form-controls">
            <input class="uk-input uk-form-width-large" type="text" placeholder="Client ID" [(ngModel)]="clientID" name="clientID">
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Client Secret</label>
        <div class="uk-form-controls">
            <input class="uk-input uk-form-width-large" type="text" placeholder="Client Secret" [(ngModel)]="clientSecret" name="clientSecret">
        </div>
    </div>

    <div class="uk-margin" *ngIf="authToken">
        <label class="uk-form-label" for="form-stacked-text">Patient IDs</label>
        <textarea class="uk-textarea uk-form-width-large" rows="10" placeholder="Input Comma Separated Patient IDs Here" name="patient_ids" [(ngModel)]="patient_ids"></textarea>
        <button class="uk-button uk-button-primary" type="submit" (click)="predict()" [disabled]="!patient_ids" >Predict</button>
    </div>

    <button class="uk-button uk-button-secondary" type="submit" (click)="login()" *ngIf="!authToken">Login</button>

    <table class="uk-table uk-table-striped uk-table-small uk-width-1-3" *ngIf="predictions_done && patient_predictions?.length > 0">
        <thead>
            <tr>
                <th>Patient ID</th>
                <th>Prediction</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of patient_predictions">
                <td>{{p.patient_id}}</td>
                <td>{{p.prediction_text}}</td>
            </tr>
        </tbody>
    </table>
    <div class="uk-margin" *ngIf="predictions_done && patient_predictions?.length == 0">
        No Results found.
    </div>

    <div class="uk-margin" >
        <app-loader [isLoading]="predictions_running"></app-loader>
    </div>

</form>